body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    box-shadow: inset 6px 4px 5px 4px rgba(27, 16, 122, 0.1);
    border-radius: 12px;
}
button{
    width:20%;
    border-radius: 0 20px 0 20px;
    padding: 10px 5px;
    cursor: pointer;
    background-color: #29439b;
    color: white;
    border: none;
}
.botoes-container {
    text-align: center; 
  }
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid #ddd;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #29439b;
    color: white;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  
  
  button:hover {
    background-color: #1a1941;
  }
  
  
  h2 {
    text-align: center; 
  }